@font-face {
	font-family: "PNC Sans";
	src: url(fonts/PNCSans-Regular.otf);
}

@font-face {
	font-family: "PNC Light";
	src: url(fonts/PNCSans-Light.otf);
	font-weight: lighter;
}

@font-face {
	font-family: "PNC Medium";
	src: url(fonts/PNCSans-Medium.otf);
}

@font-face {
	font-family: "fontawesome";
	src: url ("fonts/font-awesome/fontawesome-webfont.eot");
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	background: transparent !important;
}

.main-content {
	padding-top: 20px;
	/* width: 95%; */
	height: 300px;
	position: relative;
	left: 2.5%;
	font-family: "PNC Sans";

	display: flex;
	width: 100%;
	justify-content: space-between; /* or space-evenly */
	align-items: center;
	flex-wrap: nowrap;
	padding: 20px 0;
  }

p {
	font-family: "PNC Sans";
}

.main-content h3 {
	position: relative;
	line-height: 2px;
	z-index: 100;
	font-size: 16px;
}

.main-content p {
	line-height: 10px;
	position: relative;

	z-index: 100;
}

.bar {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.45);
	height: 70px;
	/* float:left; */
	color: white;
	;
	display: inline-block;
	z-index: 100;
	transition: 0.5s all ease-in;
}

.bar h3 {
	margin: -12px 0 15px 5px;
	font-weight: bold;
}

.bar p {
	margin-left: 5px;
}

.bar i {
	height: 30px;
	width: 30px;
	position: relative;
	bottom: -20px;
	left: 14px;
}

.bar i:before {
	height: 30px;
	width: 30px;
	font-family: "fontawesome";
	content: "\f19c";
	font-size: 45px;
	opacity: 0.1;
	position: absolute;
	left: -10px;
}

.firstBar i:before {
	font-size: 32px;
	top: 14px;
}

.bar.active {
	height: 110px;
}

.bar.active i {
	height: 30px;
	width: 30px;
	position: relative;
	bottom: -60px;
	left: 14px;
	transition: 0.5s all ease-in;
}

.bar.active i:before {
	opacity: 0.25;
}

.firstBar {
	width: 6.5%;
	background: linear-gradient(to bottom, #f58025 0, #ed6e0b 100%);
}

.bar i:after {
	position: absolute;
	top: 48px;
	left: 17px;
	width: 0;
	height: 0;
	opacity: 0;
	content: " ";
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #ed6e0b;
}

.bar.off {
	background: linear-gradient(to bottom, #fff 0, #ddd 100%);
	border-top: 1px solid #ddd;
}

.firstBar.off {
	color: #f58025;
	;
}

.secondBar.off {
	color: #14416d;
	;
}

.thirdBar.off {
	color: #ffd16c;
}

.fourthBar.off {
	color: #5e9a36;
}


.bar.active i:after {
	top: 49px;
	opacity: 1;
	line-height: inherit;
	display: none;
	left: 0;
}

.bar.active.careted i:after {
	display: block !important;
}

.secondBar {
	width: 45.51%;
	background: linear-gradient(to bottom, #5b7a98 0, #4e6983 100%);
}

.secondBar h3 {
	margin-top: -20px;
}

.bar.thirdBar h3 {
	margin: -8px 0 14px 5px;
}

/*Not sure why the second bar is acting goofy, but this fixes it; TODO: figure this out;*/
.bar.secondBar.active h3 {
	margin-top: -10px;
}

.bar.secondBar i:before {
	content: "\f0e0";
	font-size: 45px;
	left: -6px;
	bottom: 0;
	position: relative;
}

.bar.secondBar.active i:before {
	bottom: -2px;
	position: absolute;
	opacity: 0.3;
}

.secondBar.active i:after {
	border-top: 10px solid #4e6983;
	left: 135px;
}

.thirdBar {
	width: 26.53%;
	background: linear-gradient(to bottom, #f8a72c 0, #f7990b 100%);
}

.bar.thirdBar i:before {
	font-family: "fontawesome";
	font-size: 45px;
	content: "\f1b9";
	opacity: 0.35;
	position: absolute;
	bottom: 5px;
	left: 35px;
}

.thirdBar.active i:after {
	border-top: 10px solid #f7990b;
	left: 64px;
}

.fourthBar {
	width: 21.39%;
	background: linear-gradient(to bottom, #6db33f 0, #5e9a36 100%);
}

.fourthBar i:before {
	content: "\f217";
}

.fourthBar.active i:after {
	border-top: 10px solid #5e9a36;
	left: 50px;
}


.totalSpending {
	padding-left: 30px;
}

/* Growbar Styles */

.growbar {
	position: absolute;
	top: 185px;
	left: 0;
	height: 45px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.45);
}

.growbar h3 {
	width: 40%;
	display: inline-block;
	font-size: 20px;
	color: white;
	margin: 10px;
	font-family: "PNC Sans";
	line-height: 20px;
}

.growbar p {
	width: 40%;
	display: inline-block;
	color: white;
	font-family: "PNC Sans";
}

/* Chart Stylings */

.totalSpending {
	display: none;
	position: absolute;
	top: 260px;
	left: 10px;
}